name: Java CI with Maven

on:
  push:
    branches: [ "sprint_7-feature" ]
  pull_request:
    branches: [ "sprint_7-feature" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'

      - name: Build and test with Maven
        run: mvn -B clean test